:root {
    --main-blue: #576b7a;
    --light-gray: hsl(210deg 20% 98%);
    --clear-green: #77D38B;
    --light-green: #00dc33;
    --odin-blue:  hsl(224deg 70% 53%);
}

*,::before,::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Shorebreak';
    src: url('fonts/ShorebreakScriptPERSONALUSE-Regular.woff2') format('woff2'),
         url('fonts/ShorebreakScriptPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input,
button,
select,
textarea{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    appearance: none;

    
}

html {
    
}



body {
    height: 100vh;
    display: flex;
    font-family: "Helvetica", sans-serif;
}

.image-div {
    /* border: 2px solid green; */
    flex: 1 1 40vw;
    background-image: url("img/bonfire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    font-family:"shorebreak";
}
.image-div-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 28.5vh;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100px;
}

.image-div img {
    height: 70px;
    width: auto;
    /* transform: rotate(135deg) */
}
.image-div .title{
    letter-spacing: 0.2rem;
    color: var(--light-green);

    font-size: 3rem;
}

.content-div {
    /* border: 2px solid red; */
    flex: 1 1 60vw;
}

.content-wrapper {
    height: 100%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 100px 50px 40px;
    width: 80%;
    flex: 1 1 auto;

    & p {
        font-size: 1.1rem;
        font-weight: 600;
    }
}

form {
    flex: 2 1 auto;
}

.form-body {

    background-color: white;
    padding: 20px 50px;
    box-shadow: 5px 2px 4px 0px grey;
        & h2 {
        margin-bottom: 10px;
    }

    & > div {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
    }

    & label {
        font-size: 12px;
        font-weight: 600;
    }

    & input {
        width: 250px;
        height: 25px;
        border: thin solid #E5E7EB;
        border-radius: 5px;
        padding: 5px 8px 5px;

    }
    & p{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }


}

.form-footer {
    padding: 30px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

button {
    padding: 10px 30px;
    background-color: var(--main-blue);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}



.form-body input[type="text"],
.form-body input[type="email"],
.form-body input[type="tel"],
.form-body input[type="password"]{
    &:focus-visible {
        outline: none;
        
    }
    &:hover {
        border: thin solid var(--main-blue);
    }

    &:focus {
        /* color: red; */
        box-shadow: 1px 2px 2px 2px #E5E7EB;
        border: 1px solid var(--odin-blue);
    }


}

.form-body input[type="password"],
.form-body input[type="email"]{
    &:user-invalid {
        border: 1px solid red;
    }
}

