:root {
    --main-blue: #576b7a;
    --main-blue-clear: #6d8699;
    --light-gray: hsl(210deg 20% 98%);
    --clear-green: #77D38B;
    --light-green: #00dc33;
    --odin-blue:  hsl(224deg 70% 53%);
    --main-orange: #ff4100;
    --main-yellow: #ffa400;
}

*,::before,::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: 'Guevara';
    src: url('fonts/Guevara.woff2') format('woff2'),
         url('fonts/Guevara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input,
button,
select,
textarea{
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    appearance: none;

    
}



body {
    height: 100vh;
    display: flex;
    font-family: "Helvetica", sans-serif;
}

.image-div {
    /* border: 2px solid green; */
    flex: 1 1 40vw;
    background-image: url("img/bonfire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;

}
.image-div-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 30vh;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 100px;
}

.image-div img {
    height: 80px;
    width: auto;
    /* transform: rotate(135deg) */
}


.image-div .title{
    letter-spacing: 0.5rem;
    colon transparent;
    /* color: var(--light-green); */
    background-image: linear-gradient(to top,
                                      red 0% 10%,
                                      orange 40% 75%,
                                      grey 95%);
    background-clip: text;
    color: transparent;
    text-shadow: none;
    font-size: 5.5rem;
    align-self: end;
    font-family: "Guevara";
}

.image-div > p {
    color: var(--main-blue);;
    display: block;
    margin: auto auto 0 auto;
    text-align: center;
}

.content-div {
    /* border: 2px solid red; */
    flex: 1 1 60vw;
}

.content-wrapper {
    height: 100%;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 100px 100px 50px 40px;
    width: 80%;
    flex: 1 1 auto;

    & p {
        font-size: 2rem;
        font-weight: 600;
    }
}

form {
    flex: 2 1 auto;
}

.form-body {
    background-color: white;
    padding: 20px 50px;
    box-shadow: 5px 2px 4px 0px grey;
    display: flex;
    flex-direction: column;
    gap: 15px;
    & h2 {
        margin-bottom: 10px;
    }

    & > div {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
    }

    & label {
        font-size: 0.9rem;
        font-weight: 600;
    }

    & input {
        width: 280px;
        height: 32px;
        border: thin solid #E5E7EB;
        border-radius: 5px;
        padding: 5px 8px 5px;

    }
    & p{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }


}

.form-footer {
    padding: 30px 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

button {
    padding: 10px 30px;
    background-color: var(--main-blue);
    color: white;
    font-weight: bold;
    border-radius: 5px;

    &:hover {
        background-color: var(--main-blue-clear);
        cursor: pointer;
    }
}



.form-body input[type="text"],
.form-body input[type="email"],
.form-body input[type="tel"],
.form-body input[type="password"]{
    &:focus-visible {
        outline: none;
        
    }
    &:hover {
        border: thin solid var(--main-blue);
    }

    &:focus {
        /* color: red; */
        box-shadow: 1px 2px 2px 2px #E5E7EB;
        border: 1px solid var(--odin-blue);
    }


}

.form-body input[type="password"],
.form-body input[type="email"]{
    &:user-invalid {
        border: 1px solid red;
    }
}

.image-div a {
    color: var(--main-blue);
    font-color: inherit;

    &:hover {
        color: var(--main-blue-clear);
    }
}

.form-footer a {
    font-weight: bold;
    color: var(--main-blue);

    &:hover {
        color: var(--main-blue-clear);
    }
}
