*,::before,::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Shorebreak';
    src: url('fonts/ShorebreakScriptPERSONALUSE-Regular.woff2') format('woff2'),
         url('fonts/ShorebreakScriptPERSONALUSE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input {
    
}

html {
    
}



body {
    height: 100vh;
    display: flex;
    font-family: "Helvetica", sans-serif;
}

.image-div {
    border: 2px solid green;
    flex: 1 1 40vw;
    background-image: url("img/bonfire.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

.image-div .title{
    font-family:"shorebreak";
    font-size: 4rem;
    letter-spacing: 0.2rem;
    position: absolute;
    display: box;
    /* color: rgb(0, 170, 0); */
    color: white;
    background-color: rgba(255, 255, 255, 0.10);
    width: 100%;
    text-align: center;
    padding: 10px 40px;
    margin-top: 30vh;
}

.content-div {
    border: 2px solid red;
    flex: 1 1 60vw;
}

.content-wrapper {
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding: 100px 50px 40px;
    width: 80%;
    flex: 1 1 auto;
}

form {
    flex: 2 1 auto;
}

.form-body {
    
    background-color: white;
    padding: 20px 50px;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    box-shadow: 10px 3px 9 px;
        & h2 {
        margin-bottom: 10px;
    }

    & > div {
        display: flex;
        gap: 50px;
        margin-bottom: 20px;
    }

    & label {
        font-size: 12px;
        font-weight: 600;
    }

    & input {
        width: 250px;
        height: 25px;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 5px 8px 5px;
    }
    & p{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }


}

.form-footer {
    padding: 30px 50px 10px;     
}


button {
    padding: 10px 30px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.form-body input[type="text"] {
    

}
